{% extends 'base.html' %}
{% block title %}
    change_password
{% endblock %}
{% block body %}
<h1 style="color: white">
    تغییر رمز عبور
</h1>
    <div class="container" style="display: flex; justify-content: center; align-items: center">
    <form method="post" style="border: 1px solid white; padding: 50px; margin: 0; width: 300px; background-color: #595B5DC9; border-radius: 35px">
        {% csrf_token %}
        <p style="color: white">رمز عبور قدیمی</p>
        {{ form.old_password }}<br>
        <p style="color: white">رمز عبورجدید</p>
        {{ form.new_password }}<br>
        <p style="color: white">تکرار رمز عبور</p>
        {{ form.repeat_password }}<br>
        <p style="color: red">{{ error }}</p>
        <button type="submit" style="background: linear-gradient(to bottom right, rgba(90,50,140,0.99), #803399); border-radius: 20px;height: 40px; width: 190px; border: 1px lightgray solid;  color: white">تغییر رمز عبور</button>
    </form>
    </div><br><br><br><br><br>

{% endblock %}
