{% extends 'base.html' %}

{% block title %}login{% endblock %}
{% block body %}
    <h1 style="color : rgba(41,220,130,0.99)">login</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.username }}
        <br><br>
        {{ form.password }}
        <br><br>
        <button type="submit">login</button>
    </form>
    <br>
    {% if error_message %} <p>{{ error_message }}</p> {% endif %}
    <a href="http://127.0.0.1:8000/accounts/register/">sign up</a>
{% endblock %}