{% extends 'base.html' %}

{% block title %}profile{% endblock %}

{% block body %}
    <h1 style="color: white">حساب کاربری {{ user.username }}</h1>
    <img class="rounded-circle account-img" src="{{ user.profile.image.url}}">

    <ul>
            <form method="POST" enctype="multipart/form-data" style="border: 1px solid white; padding: 10px; border-radius: 35px; margin: 0; width: 350px; background-color: #595B5DC9; padding: 20px;">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}

        <button type="submit" style="background: linear-gradient(to bottom right, rgba(90,50,140,0.99), #803399); border: 1px solid white; width: 190px; height: 40px; border-radius: 20px; color: white;">به روز رسانی</button><br><br>

    <a href="{% url 'accounts:change_password'%}" style="display: flex; justify-content: center; color:white;">تغییر روز عبور</a>
    <a href="{% url 'accounts:logout' %}" style="display: flex; justify-content: center; color:white;">خروج از حساب کاربری</a>
    </form><br>
    </ul>


    <h2 style="color: white">گیاهان خانگی من</h2>
    {% for plant in user_plants %}
        <div style="background: linear-gradient(to right, rgb(43,48,52), rgb(75,77,82));">
            <li><a href="{% url 'my_plants:plant_detail' plant.id %}" style="color: white">{{ plant.name }} : {{ plant.persian_name }}</a></li>

        </div><br>
    {% endfor %}

    <div class="container" style="display: flex; position: relative; border-radius: 35px; margin: auto; justify-content: center; width: 450px">

    <a href="{% url 'my_plants:house_plants_names' %}" style="display:flex; border-radius: 30px;   background: linear-gradient(to bottom right, rgba(90,50,140,0.99), #803399); height: 40px; width: 200px; align-items: center; justify-content: center; color: white; margin: auto; border: 1px lightgray solid">اضافه کردن گیاه</a><br>

    {% if user_plants %}
        <a href="{% url 'my_plants:user_plant_remover_all'%}" style="display:flex; border-radius: 30px; background: linear-gradient(to bottom right, rgba(104,50,140,0.99), #a40e2c); height: 40px; width: 200px; align-items: center; justify-content: center; color: white; margin: auto; border: 1px lightgray solid">حذف همه گیاهان</a><br>
    {% endif %}<br><br><br>
    </div><br>

    <h1 style="color: white">سوالات</h1>

    {% for question in user_questions %}
        <div style="background: linear-gradient(to right, rgb(43,48,52), rgb(75,77,82));">
        <li>
            <a href="{% url 'qa:edit_question' question.id %}" style="color: white">{{ question.title }}</a>
        </li>
        </div><br>
    {% endfor %}


{% endblock %}