{% extends 'base.html' %}

{% block title %}profile{% endblock %}

{% block body %}
    <h1>{{ user.username }}</user></h1>
    <img class="rounded-circle account-img" src="{{ user.profile.image.url}}">
    <p>{{ user.email }}</p>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}

        <button type="submit">update</button>
    </form>
    <a href="http://127.0.0.1:8000/accounts/change_password/">change_password</a>
{% endblock %}