{% extends 'base.html' %}

{% block title %}profile{% endblock %}

{% block body %}
    <h1 style="color : rgba(41,220,130,0.99)">profile of {{ user.username }}</h1>
    <img class="rounded-circle account-img" src="{{ user.profile.image.url}}">
    <p>{{ user.email }}</p>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}

        <button type="submit">update</button>
    </form><br>


    <a href="http://127.0.0.1:8000/accounts/change_password/">change_password</a><br><br>


    <h2>گیاهان خانگی من</h2>
    {% for plant in user_plants %}
            <li><a href="{% url 'my_plants:plant_detail' plant.id %}">{{ plant.name }} : {{ plant.persian_name }}</a></li>
    {% endfor %}

{% endblock %}