{% extends 'base.html' %}
{% block title %}
    register
{% endblock %}
{% block body %}
    <h1 style="color : white">ساخت حساب جدید</h1>
    <div class="container" style="display: flex; justify-content: center; align-items: center">
        <form method="post" style="border: 1px solid white; padding: 50px; border-radius: 10px; margin: 0; width: 300px; background-color: #595B5DC9; border-radius: 35px">
        {% csrf_token %}
        {{ form.username}}<br><br>
        {{ form.email}}<br><br>
        {{ form.password_1}}<br><br>
        {{ form.password_2}}<br><br>

        <p style="color: red">{{ error_message }}</p>

        <button type="submit" style="background: linear-gradient(to bottom right, rgba(90,50,140,0.99), #803399); border-radius: 20px;height: 40px; width: 190px; border: 1px lightgray solid;  color: white">ساخت حساب کاربری</button>
        <a href="{% url 'accounts:login' %}" style="justify-content: center; display: flex; color: white;">ورود</a>
    </form>
    </div><br><br><br><br>



{% endblock %}
