{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
</head>
<body style="background-color: rgb(43,48,52)">
    {% include 'messages.html' %}
    {% include 'navbar.html' %}
    {% block body %}{% endblock %}
<footer class="footer" style="margin: 0 auto">
    <div style="background: linear-gradient(to right, #2B3034FF , #595B5DC9); ">
        <a href="#" style="font-size: 17px; color: white">صفحه ها</a><br>
        <a href="{% url 'home:home' %}" style="color: white">خانه</a><br>
        <a href="{% url 'accounts:register' %}" style="color: white">ساخت حساب</a><br>
        <a href="{% url 'accounts:login' %}" style="color: white">ورود</a><br>
        <a href="{% url 'my_plants:house_plants_names' %}" style="color: white">لیست گیاهان</a><br>
    </div>
</footer>

</body>
</html>
