{% load  static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/messages.css' %}">
</head>
<body>
{% if messages %}
    {% for msg in messages %}
        <div class="container" style="background-color: rgba(101,103,104,0.79); border-radius: 20px; border: 1px white solid; height: 35px; width: 500px; align-items: center; display: flex; justify-content: center">
            <p class="alert alert-{{ tags }}" style="color: white; padding: 10px; margin: 10px 0">{{ msg }}</p>
        </div>
    {% endfor %}
{% endif %}
</body>
</html>
