<nav class="navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="navbarNav">
    <a class="navbar-brand end" style="color: rgba(41,220,130,0.99)">happy plant</a>
      <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home:home' %}">home</a>
          </li>
          {% if user.is_authenticated%}

          <li class="nav-item">
              <a class="nav-link"  href="{% url 'accounts:profile' %}">profile</a>
          </li>
          <li class="nav-but">
              <a class="nav-link" href="{% url 'accounts:logout' %}">logout</a>
          </li>
          <li class="nav-but">
              <a class="nav-link" href="{% url 'PLDdetector:detector_model' %}">plant leaf deseases detector</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:login' %}">login</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'my_plants:house_plants_names' %}">house plant name list</a>
          </li>
      </ul>
    </div>
  </nav>
<br>